node_modules/
/deno/corejs/
/packages/core-js/commonjs/
/packages/core-js-bundle/
/packages/core-js-compat/data/*.json
/packages/core-js-pure/commonjs/
/packages/core-js-pure/override/
/tests/bundles/
