{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": [2, 2, {"VariableDeclarator": 2, "SwitchCase": 1}],
    "max-len": [2, 120, 2],
    "eol-last": 0,
    "camelcase": 2,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "quote-props": [2, "as-needed", {"keywords": true}],
    "dot-notation": [2, {"allowKeywords": false}],
    "quotes": [2, "single", "avoid-escape"],
    "new-parens": 0,
    "new-cap": [2, {"newIsCap": true, "capIsNew": false}],
    "no-wrap-func": 0,
    "no-use-before-define": 0,
    "no-cond-assign": 0,
    "no-underscore-dangle": 0,
    "no-native-reassign": 0,
    "no-shadow-restricted-names": 0,
    "no-fallthrough": 0,
    "eqeqeq": 0,
    "comma-spacing": 0,
    "no-multi-spaces": 0,
    "key-spacing": 0,
    "strict": 0,
    "no-mixed-requires": 0,
    "no-loop-func": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": [2,  {"args": "none"}],
    "curly": 0,
    "max-nested-callbacks": [2, 4],
    "no-multiple-empty-lines": 2
  }
}