npm-shrinkwrap.json
yarn.lock
node_modules/
*.tmp
*.log
*.bak
*.swp
.DS_Store
.idea

/bundles/
/docs/web/blog/
/docs/web/changelog.md
/docs/web/contributing.md
/docs/web/security.md
/packages/core-js/actual/
/packages/core-js/es/
/packages/core-js/full/
/packages/core-js/proposals/
/packages/core-js/stable/
/packages/core-js/stage/
/packages/core-js/index.js
/packages/core-js/index.d.ts
/packages/core-js/package.json
/packages/core-js/LICENSE
/packages/core-js-babel-plugin/LICENSE
/packages/core-js-builder/LICENSE
/packages/core-js-builder/__tmp__/
/packages/core-js-bundle/LICENSE
/packages/core-js-bundle/index.js
/packages/core-js-bundle/minified.js
/packages/core-js-bundle/minified.js.map
/packages/core-js-compat/LICENSE
/packages/core-js-compat/built-in-definitions.json
/packages/core-js-compat/data.json
/packages/core-js-compat/entries.json
/packages/core-js-compat/entries-by-versions.json
/packages/core-js-compat/external.json
/packages/core-js-compat/modules.json
/packages/core-js-compat/modules-by-versions.json
/packages/core-js-pure/actual/
/packages/core-js-pure/es/
/packages/core-js-pure/full/
/packages/core-js-pure/internals/
/packages/core-js-pure/modules/
/packages/core-js-pure/proposals/
/packages/core-js-pure/stable/
/packages/core-js-pure/stage/
/packages/core-js-pure/types/
/packages/core-js-pure/index.js
/packages/core-js-pure/index.d.ts
/packages/core-js-pure/configurator.js
/packages/core-js-pure/package.json
/packages/core-js-pure/LICENSE
/tests/**/bundles/
/tests/compat/*.jar
/tests/compat/compat-data.js
/tests/unit-global/index.js
/tests/unit-pure/index.js
/website/templates/
/website/dist/
/website/src/public/
