node_modules/
*.tmp
*.log
*.bak
*.swp

/packages/core-js/client/
/packages/core-js/LICENSE
/packages/core-js-pure/es/
/packages/core-js-pure/fn/
/packages/core-js-pure/modules/
/packages/core-js-pure/stage/
/packages/core-js-pure/web/
/packages/core-js-pure/index.js
/packages/core-js-pure/LICENSE
/packages/core-js-internals/LICENSE
/packages/core-js-builder/LICENSE
/tests/bundles/
/client/
