@use "../includes/theme" as *;
@use "../includes/mixins" as *;

html {
    font-size: 14px;
    line-height: 1.8;
    color: $font-color;

    @include media("min", "lg") {
        font-size: 16px;
    }

    @include media("min", "xxl") {
        font-size: 18px;
    }
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: $background-color;
}
a {
    color: $link-color;

    &:hover, &:focus {
        color: $link-color-hover;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: $font-color-light;
    margin-top: 0.5rem;
}
h1 {
    font-size: 2.625rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 1.875rem;
}
h4 {
    font-size: 1.5rem;
}

p {
    padding: 0.5rem 0;
}

pre {
    padding: 1rem 0;
}

blockquote {
    background-color: $box-light;
    border-left: 2px solid $success;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

ul {
    padding-left: 1rem;
    list-style-type: disc;
}

svg {
    width: 100%;
    height: auto;
}

table {
    tr {
        &:nth-child(odd) {
            background-color: $background-highlight;
        }
        &:nth-child(even) {
            background-color: $background-light;
        }

        th {
            padding: 0.25rem 0.375rem;
        }
    }

    @include media("max", "lg") {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.box {
    background-color: $box-color;
    border-radius: 1rem;
}

.icon {
    display: block;
    width: 24px;
    height: 24px;
}
