@use 'variables' as *;
@use "mixins" as *;

$font-color: $foreground;
$font-color-light: $white;
$font-color-dark: $dark;
$font-success: $green;
$font-warning: $orange;
$font-error: $red;

$button-color: $foreground;
$button-color-hover: $selection;

$box-color: $bg;
$box-light: $selection;

$background-color: $dark;
$background-light: $secondary;
$background-highlight: $highlight;

$link-color: rgba($foreground, 0.7);
$link-color-hover: $foreground;
$link-color2: rgba($yellow, 0.7);
$link-color2-hover: $yellow;

$border-color: $background-color;
$border-color-light: $secondary;
$border-color-lighter: $selection;

$form-font-color: $foreground;
$form-hint-color: $foreground;

$success: $green;
