$bg:           #eceff4;
$current_line: #e5e9f0;
$foreground:   #2e3440;
$comment:      #4c566a;
$cyan:         #0184bc;
$green:        #50a14f;
$orange:       #c18401;
$pink:         #a626a4;
$purple:       #986801;
$red:          #e45649;
$link:         #4078f2;
$font:         #434c5e;

$selection:    #fafafa;
$secondary:    #ffffff;
$dark:         #eceff4;
$highlight:    #d8dee9;
$disabled:     #a3be8c40;

