$bg:           #eceff4;
$current_line: #e5e9f0;
$foreground:   #2e3440;
$comment:      #4c566a;
$cyan:         #88c0d0;
$green:        #a3be8c;
$orange:       #d08770;
$pink:         #b48ead;
$purple:       #5e81ac;
$red:          #bf616a;
$link:         #2e5c95;
$font:         #434c5e;

$selection:    #fafafa;
$secondary:    #ffffff;
$dark:         #eceff4;
$highlight:    #d8dee9;
$disabled:     #a3be8c40;

