@use 'variables-dark' as dark;
@use 'variables-light' as light;
@use "mixins" as *;

$themes: (
  'dark': (
    'font-color': dark.$foreground,
    'font-color-light': dark.$font,
    'font-color-dark': dark.$dark,
    'comment-color': dark.$comment,
    'font-success': dark.$green,
    'font-warning': dark.$orange,
    'font-error': dark.$red,
    'font-note': rgba(dark.$foreground, 0.7),

    'button-color': dark.$bg,
    'button-color-hover': dark.$selection,
    'box-color': dark.$bg,
    'box-light': dark.$selection,
    'background-color': dark.$dark,
    'background-light': dark.$secondary,
    'background-highlight': dark.$highlight,
    'link-color': rgba(dark.$foreground, 0.7),
    'link-color-hover': dark.$foreground,
    'link-color2': rgba(dark.$link, 0.7),
    'link-color2-hover': dark.$link,
    'border-color': dark.$dark,
    'border-color-light': dark.$secondary,
    'border-color-lighter': dark.$selection,
    'form-font-color': dark.$foreground,
    'form-hint-color': dark.$foreground,

    'success': dark.$green,
    'warning': dark.$orange,
    'error': dark.$red,
    'neutral': dark.$comment,
    'section': dark.$pink,
    'meta': dark.$purple,
    'function': dark.$cyan,
  ),
  'light': (
    'font-color': light.$foreground,
    'font-color-light': light.$font,
    'font-color-dark': light.$dark,
    'comment-color': light.$comment,
    'font-success': light.$green,
    'font-warning': light.$orange,
    'font-error': light.$red,
    'font-note': rgba(light.$foreground, 0.7),

    'button-color': light.$foreground,
    'button-color-hover': light.$selection,
    'box-color': light.$bg,
    'box-light': light.$selection,
    'background-color': light.$dark,
    'background-light': light.$secondary,
    'background-highlight': light.$highlight,
    'link-color': rgba(light.$foreground, 0.7),
    'link-color-hover': light.$foreground,
    'link-color2': rgba(light.$link, 0.7),
    'link-color2-hover': light.$link,
    'border-color': light.$dark,
    'border-color-light': light.$secondary,
    'border-color-lighter': light.$highlight,
    'form-font-color': light.$foreground,
    'form-hint-color': light.$foreground,

    'success': light.$green,
    'warning': light.$orange,
    'error': light.$red,
    'neutral': light.$comment,
    'section': light.$pink,
    'meta': light.$purple,
    'function': light.$cyan,
  )
);
