$bg:           #eceff4;
$current_line: #e5e9f0;
$foreground:   #1f232c;
$comment:      #4c566a;
$cyan:         #0184bc;
$green:        #50a14f;
$orange:       #c18401;
$pink:         #a626a4;
$purple:       #986801;
$red:          #e45649;
$link:         #286ff3;
$font:         #1f232c;

$selection:    #fafafa;
$secondary:    #ffffff;
$dark:         #eceff4;
$highlight:    #d8dee9;
$disabled:     #a3be8c40;
