$bg:           #282a36;
$current_line: #44475a;
$foreground:   #fafaf4;
$comment:      #6272a4;
$cyan:         #8be9fd;
$green:        #50fa7b;
$orange:       #ffb86c;
$pink:         #ff79c6;
$purple:       #bd93f9;
$red:          #ff5555;
$link:         #f1fa8c;
$font:         #ffffff;

$selection:    #44475a;
$secondary:    #2e313f;
$dark:         #191a21;
$highlight:    #44475a;
$disabled:     #6D6D6D;
