@use "../includes/theme" as *;
@use "../includes/mixins" as *;

main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 2rem 0;

  @include media('min', 'sm') {
    padding: 1rem;
  }

  a {
    color: $link-color2;

    &:hover {
      color: $link-color2-hover;
    }
  }

  .main {
    padding: 1rem 1rem;

    background-color: $background-light;

    @include wrapper;

    .wrapper {
      display: flex;

      .docs-menu {
        position: sticky;
        top: 2rem;
        align-self: flex-start;

        padding: 1rem 0.5rem 1rem 0;

        font-size: 0.875rem;
        flex-basis: 20%;
        flex-shrink: 0;
        line-height: 1.3;

        border-right: 1px solid $border-color-lighter;

        @include media('max', 'lg') {
          display: none;
        }

        ul {
          list-style: none;

          li {
            padding: 0 0 0.75rem 0;

            &:last-child {
              padding-bottom: 0;
            }
          }
        }

        .menu-header {
          padding: 0 0 0.75rem 0;
          font-weight: 600;
        }

        .menu-item {
          border-right: 1px solid $border-color-lighter;
          padding: 0 0.5rem 0.5rem 0.5rem;
        }
      }

      .content {
        width: 100%;
        padding: 0 1rem;
      }

      .table-of-contents {
        position: sticky;
        top: 2rem;
        align-self: flex-start;
        font-size: 0.875rem;
        max-width: 20%;

        @include media('max', 'xl') {
          display: none;
        }

        .toc-link {
          border-left: 1px solid $border-color-lighter;
          padding: 0 0 0.5rem 1rem;

          .h3 {
            margin-left: 0.5rem;
          }
          .h4, .h5, .h6, .h7 {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
