name: tests

on: [push, pull_request]

jobs:
  build:
    name: tests

    strategy:
      matrix:
        os: [
          'ubuntu-latest',
          'windows-latest',
          'macos-latest',
        ]
        node: [
          '10.17',
          '12.13',
          '14.15',
          '15',
        ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            packages/*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package.json') }}

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: npm install

      - name: Tests
        run: npm run ci
